<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
    
    <script type="text/javascript">
	    var app=angular.module('easybuy',['pagination']);//定义品优购模块
		app.controller('brandController',function($scope,$http){
			
			$scope.findAll=function(){
				$http.get('../brand/findAll.do').success(
					function(response){
						$scope.list=response;//给列表变量赋值 
					}
				);				
			}
			
			//分页控件配置   currentPage:当前页   totalItems:总记录数   
			//itemsPerPage:每页显示记录数   perPageOptions：分页选项   onChange :当你更改页码的时候出发的事件  
			$scope.paginationConf = {
				currentPage: 1,
				totalItems: 10,
				itemsPerPage: 10,
				perPageOptions: [10, 20, 30, 40, 50],
				onChange: function(){
					$scope.reloadList(); 
				}
			};
			
			//刷新列表 
			$scope.reloadList=function(){
				$scope.search( $scope.paginationConf.currentPage, $scope.paginationConf.itemsPerPage);				
			};
			
			$scope.searchEntity={};//定义搜索对象 
			//分页方法 
			$scope.findPage=function(page,rows){
				$http.get('../brand/findPage.do?page='+page+"&rows="+rows).success(
					function(response){
						$scope.paginationConf.totalItems=response.total;//总记录数 
						$scope.list=response.rows;//给列表变量赋值 
					}
				);				
			}
			
			//查询实体 
			$scope.findOne=function(id){
				$http.get('../brand/findOne.do?id='+id).success(
					function(response){
						$scope.entity=response;
					}		
				);				
			}
			
			$scope.save=function(){
				var methodName="add";
				if($scope.entity.id != null){
					methodName="update";
				}
				
				$http.post('../brand/'+ methodName +'.do', $scope.entity).success(
					function(response){
						if(response.success){
							$scope.reloadList();
						}else {
							alert(response.message);
						}
					}
				);
			}
			
			$scope.selectIds=[];//用户选定复选的ID集合 
			//更新数组 
			$scope.updateSelection=function($event,id){
				
				if($event.target.checked){
					$scope.selectIds.push(id);			
				}else{
					
					var index= $scope.selectIds.indexOf(id);//在数组中查找指定值的位置 
					$scope.selectIds.splice(index,1);//从数组中移除元素  参数1：从哪开始移除  参数2：移除元素个数 
				}					
			}
			
			//批量删除 
			$scope.dele=function(){
				
				$http.get('../brand/delete.do?ids='+$scope.selectIds).success(
					function(response){
						if(response.success){//如果成功
							$scope.reloadList();//刷新列表 
						}else{
							alert(response.message);//提示错误 
						}						
					}			
				);				
			}
			
			$scope.searchEntity={};//定义搜索对象 
			//条件查询 
			$scope.search=function(page,rows){
				$http.post('../brand/search.do?page='+page+"&rows="+rows, $scope.searchEntity).success(
					function(response){
						$scope.paginationConf.totalItems=response.total;//总记录数 
						$scope.list=response.rows;//给列表变量赋值 
					}		
				);				
			}
			
		});
	    
    </script>
    
</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="easybuy" ng-controller="brandController" ng-init="reloadList()">
  <!-- .box-body -->
                    <div class="box-header with-border">
                        <h3 class="box-title">品牌管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ng-click="entity={}" ><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" title="删除" ng-click="dele()"><i class="fa fa-trash-o"></i> 删除</button>           
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
							        品牌名称：<input ng-model="searchEntity.name">                                 
							        首字母：<input ng-model="searchEntity.firstChar">                                 
                              <button type="button" class="btn btn-default" ng-click="search(paginationConf.currentPage,paginationConf.itemsPerPage)"><i class="fa fa-file-o"></i> 查询</button>
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">品牌ID</th>
									      <th class="sorting">品牌名称</th>									      
									      <th class="sorting">品牌首字母</th>									     				
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
			                              <td><input  type="checkbox" ng-click="updateSelection($event,entity.id)"></td>			                              
				                          <td>{{entity.id}}</td>
									      <td>{{entity.name}}</td>									     
		                                  <td>{{entity.firstChar}}</td>		                                 
		                                  <td class="text-center">                                           
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.id)" >修改</button>                                           
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
							  <tm-pagination conf="paginationConf"></tm-pagination>
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                        
                        
                     </div>
                    <!-- /.box-body -->
         
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">品牌编辑</h3>
		</div>
		<div class="modal-body">		
			<table class="table table-bordered table-striped"  width="800px">
		      	<tr>
		      		<td>品牌名称</td>
		      		<td><input  class="form-control" ng-model="entity.name" placeholder="品牌名称" >  </td>
		      	</tr>		      	
		      	<tr>
		      		<td>首字母</td>
		      		<td><input  class="form-control" ng-model="entity.firstChar" placeholder="首字母">  </td>
		      	</tr>		      	
			 </table>				
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
   
</body>
</html>